{% extends "base.html" %}


{% block content %}
<div>
    <h1 style='text-align: center'>Menu list</h1>
</div>
<div class="container">
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Dish Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Price</th>
            <th scope="col">Chef</th>
          </tr>
        </thead>
        <tbody>
            {% for item in data%}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.price}}</td> 
            <td>{{item.chef.fullname}}</td> 
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}